
body{
    background-color:darkgrey;
    font-family: 'Urbanist', sans-serif;
}

.card{
    background-color: darkgrey;
}

html {
    scroll-behavior: smooth;
  }

  .dogeLogo{
      height: 10rem;
      
  }
  .dogOne{
      margin: auto;
  }

  .carousel-item{
      text-align: center;
  }

.carousel-item img{
    width: 600px;
    margin:auto;
}

.card-img-top{
    height: 330px;
    }
